<template>
  <v-app-bar color="indigo-darken-1">
    <v-app-bar-nav-icon
      variant="text"
      @click.stop="drawer = !drawer"
    ></v-app-bar-nav-icon>

    <v-toolbar-title>Entre Amigos</v-toolbar-title>
  </v-app-bar>

  <v-navigation-drawer v-model="drawer" bottom temporary>
    <v-list density="comfortable" v-model="selectedItem">
      <v-list-subheader>MENU</v-list-subheader>

      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        :value="i"
        :to="item.route"
        active-color="primary"
        nuxt
      >
        <template v-slot:prepend>
          <v-icon :icon="item.icon"></v-icon>
        </template>

        <v-list-item-title v-text="item.title"></v-list-item-title>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  export default {
    data: () => ({
      drawer: false,
      group: null,
      selectedItem: 1,
      items: [
        { title: 'Inicio', icon: 'mdi-home', route: '/' },
        // {
        //   title: 'Amigo da Semana',
        //   icon: 'mdi-account-multiple',
        //   route: 'friend',
        // },
        // { title: 'Agenda', icon: 'mdi-star', route: 'calendar' },
        // { title: 'Galeria', icon: 'mdi-star', route: 'galeria' },
        // { title: 'Cadastro', icon: 'mdi-account', route: 'user' },
        { title: 'Sobre', icon: 'mdi-information-outline', route: '/about' },
      ],
    }),

    watch: {
      group() {
        this.drawer = false
      },
    },
  }
</script>
