<template>
  <div class="d-flex align-center flex-column h-screen">
    <h1>Sobre</h1>

    <v-card color="white" theme="dark" class="w-75 py-15 text-center">
      <p>Sistema feito com objetivo de aproximar os amigos</p>
    </v-card>
  </div>
</template>

<script>
  export default {
    head() {
      return {
        title: 'Sobre',
        meta: [
          {
            hid: 'Sobre',
            name: 'Sobre',
            content: 'Sistema feito com objetivo de aproximar os amigos',
          },
        ],
      }
    },
  }
</script>
