<template>
  <div class="d-flex align-center flex-column h-screen">
    <h1>Início</h1>
    <v-card class="w-75 mb-4" color="#385F73" theme="dark">
      <v-card-title class="text-h5">Amigo da semana</v-card-title>
      <v-card-subtitle>
        <v-icon icon="mdi-calendar"></v-icon> 2/9/2022
      </v-card-subtitle>
      <v-card-text>***********</v-card-text>
      <v-card-actions>
        <v-btn variant="tonal" color="teal-accent-4" @click="reveal = true">
          <v-icon icon="mdi-eye"></v-icon> Ver
        </v-btn>
      </v-card-actions>

      <v-expand-transition>
        <v-card
          v-if="reveal"
          class="transition-fast-in-fast-out v-card--reveal w-200"
          style="height: 100%"
          color="#385F73"
          theme="dark"
        >
          <v-card-title class="text-h5">Amigo da semana</v-card-title>
          <v-card-subtitle>
            <v-icon icon="mdi-calendar"></v-icon> 2/9/2022
          </v-card-subtitle>
          <v-card-text class="text-h6">Olivan</v-card-text>
          <v-card-actions class="pt-0">
            <v-btn
              variant="tonal"
              color="teal-accent-4"
              @click="reveal = false"
            >
              <v-icon icon="mdi-close"></v-icon> Fechar
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-expand-transition>
    </v-card>

    <v-card color="#952175" theme="dark" class="w-75 mb-4">
      <div class="d-flex flex-no-wrap justify-space-between">
        <div>
          <v-card-title class="text-h5"> Próximo Culto </v-card-title>

          <v-card-subtitle>
            <v-icon icon="mdi-calendar"></v-icon> 9/9/2022
          </v-card-subtitle>

          <v-card-text class="text-h6"> Perereca </v-card-text>
        </div>

        <v-avatar class="ma-3" size="125" rounded="0">
          <v-img
            src="https://placehold.jp/3d4070/ffffff/300x300.png?text=foto"
          ></v-img>
        </v-avatar>
      </div>
    </v-card>

    <v-card color="teal" theme="dark" class="w-75 mb-4">
      <v-img
        src="../assets/images/2.jpg"
        lazy-src="../assets/images/2-blur.jpg"
        max-height="150"
        class="align-end"
        cover
        gradient="to bottom right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
      >
        <v-card-text class="elevation-20 text-white text-right">
          <div>
            O senhor é meu pastor e nada me faltará.<br />
            <small>Salmos 23:1.</small>
          </div>
        </v-card-text>
      </v-img>
    </v-card>
  </div>
</template>

<script>
  export default {
    data: () => ({
      reveal: false,
    }),
    head() {
      return {
        title: 'Entre Amigos',
        meta: [
          {
            hid: 'Entre Amigos',
            name: 'Entre Amigos',
            content: 'Entre Amigos',
          },
        ],
      }
    },
  }
</script>
<style>
  .v-card--reveal {
    bottom: 0;
    opacity: 1 !important;
    position: absolute;
    width: 100%;
  }
</style>
